IO_LOC "rst_n" AA13;
IO_LOC "test_n" AB13;
IO_PORT "rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_PORT "test_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "shld" AA21;
IO_LOC "key_clk" AB20;
IO_LOC "key_in[0]" AA19;
IO_LOC "key_in[1]" D19;
IO_LOC "key_in[2]" D16;
IO_LOC "dbg_frame" R17;
IO_LOC "dbg_key" R18;
IO_LOC "dbg_err" T18;
IO_PORT "shld" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4;
IO_PORT "key_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4;
IO_PORT "key_in[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_PORT "key_in[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_PORT "key_in[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_PORT "dbg_frame" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4;
IO_PORT "dbg_key" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4;
IO_PORT "dbg_err" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4;
IO_LOC "dbg_ref" Y21;
IO_LOC "dbg_lock" Y22;
IO_LOC "dbg_rst" AB21;
IO_PORT "dbg_ref" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4;
IO_PORT "dbg_lock" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4;
IO_PORT "dbg_rst" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4;
IO_LOC "hp_bclk" Y17;
IO_LOC "hp_ws" AB17;
IO_LOC "hp_sd" AA16;
IO_LOC "pa_n" AB16;
IO_PORT "hp_bclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4;
IO_PORT "hp_ws" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4;
IO_PORT "hp_sd" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4;
IO_PORT "pa_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=4;
